{% extends 'base/front_base.html' %}
{% block title %}
    课程详情页
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/course/course_detail.min.css' %}">
{% endblock %}
{% block main %}
    <div class="main">
        <div class="course-nav">
            <div class="nav-container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav-list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li><a href="#">投资人说</a></li>
                    <li><a href="#">明星案例</a></li>
                    <li><a href="#">创业知识</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <!-- 上方栏 -->
            <div class="course-wrapper">
                <div class="course-info">
                    <p class="course-title">{{ course.title }}</p>
                    <div class="price-group">
                        <div class="share-group">
                            <span class="title">分享至：</span>
                        </div>
                        <div class="buy-group">
                            {% if course.price > 0 %}
                                <span class="price pay">￥{{ course.price }}</span>
                                <a href="#" class="buy-btn">立即购买</a>
                            {% else %}
                                <span class="price free">免费</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="video-group"></div>
            </div>
            <!-- 下方栏 -->
            <div class="bottom-wrappper">
                <!-- 左侧栏 -->
                <div class="course-detail">
                    <!-- 通用的块级元素 -->
                    <div class="item-group">
                        <!-- 通用的标题 -->
                        <p class="item-title">课程讲师</p>
                        <!-- 讲师介绍 -->
                        <div class="teacher-group">
                            <div class="avatar-group">
                                <img src="{{ course.teacher.avatar }}"
                                     alt=""
                                     class="avatar">
                            </div>
                            <div class="teacher-info">
                                <div class="name">{{ course.teacher.username }}</div>
                                <div class="desc">{{ course.teacher.job_title }}</div>
                            </div>
                        </div>
                        <!-- 通用的具体内容 -->
                        <p class="item-content">
                            {{ course.teacher.profile }}
                        </p>
                    </div>
                    <div class="item-group">
                        <!-- 通用的标题 -->
                        <p class="item-title">课程简介</p>
                        <!-- 通用的具体内容 -->
                        <p class="item-content">
                            {{ course.profile|safe }}
                        </p>
                    </div>
                    <div class="item-group">
                        <!-- 通用的标题 -->
                        <p class="item-title">课程大纲</p>
                        <!-- 通用的具体内容 -->
                        <p class="item-content">
                            唐朔飞教授，女；64岁：1959年毕业于上海市第三女子中学，同年考入哈尔滨工业大学计算机专业，1964年毕业留校任教，1993年评为教授，2000年评为校基础教学带头人，2003年评为首届省级教学名师，2005年评为第二届国家级教学名师。第八、九届哈尔滨市政治协商委员会委员，现任校、院教学督导组成员。1999年被评为哈工大“十佳三育人”标兵。自1986年获哈工大首届教学一等奖后，又获得各级各类教学奖励18次，2000年获黑龙江省教学成果一等奖。
                        </p>
                    </div>
                    <div class="item-group">
                        <!-- 通用的标题 -->
                        <p class="item-title">适宜人群</p>
                        <!-- 通用的具体内容 -->
                        <p class="item-content">
                            唐朔飞教授，女；64岁：1959年毕业于上海市第三女子中学，同年考入哈尔滨工业大学计算机专业，1964年毕业留校任教，1993年评为教授，2000年评为校基础教学带头人，2003年评为首届省级教学名师，2005年评为第二届国家级教学名师。第八、九届哈尔滨市政治协商委员会委员，现任校、院教学督导组成员。1999年被评为哈工大“十佳三育人”标兵。自1986年获哈工大首届教学一等奖后，又获得各级各类教学奖励18次，2000年获黑龙江省教学成果一等奖。
                        </p>
                    </div>
                    <div class="item-group">
                        <!-- 通用的标题 -->
                        <p class="item-title">帮助中心</p>
                        <!-- 通用的具体内容 -->
                        <p class="item-content">
                            唐朔飞教授，女；64岁：1959年毕业于上海市第三女子中学，同年考入哈尔滨工业大学计算机专业，1964年毕业留校任教，1993年评为教授，2000年评为校基础教学带头人，2003年评为首届省级教学名师，2005年评为第二届国家级教学名师。第八、九届哈尔滨市政治协商委员会委员，现任校、院教学督导组成员。1999年被评为哈工大“十佳三育人”标兵。自1986年获哈工大首届教学一等奖后，又获得各级各类教学奖励18次，2000年获黑龙江省教学成果一等奖。
                        </p>
                    </div>
                </div>
                <!-- 右侧栏 -->
                <div class="recommend-wrapper">
                    <p class="recommand-title">推荐课程</p>
                    <ul class="course-list">
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">
                                        顶级投资人眼中的创业成功规则
                                    </p>
                                    <p class="teacher">
                                        戴汨
                                    </p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1499741922_294.jpg-course.list.small"
                                         alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">
                                        顶级投资人眼中的创业成功规则
                                    </p>
                                    <p class="teacher">
                                        戴汨
                                    </p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1499741922_294.jpg-course.list.small"
                                         alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">
                                        顶级投资人眼中的创业成功规则
                                    </p>
                                    <p class="teacher">
                                        戴汨
                                    </p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1499741922_294.jpg-course.list.small"
                                         alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">
                                        顶级投资人眼中的创业成功规则
                                    </p>
                                    <p class="teacher">
                                        戴汨
                                    </p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1499741922_294.jpg-course.list.small"
                                         alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">
                                        顶级投资人眼中的创业成功规则
                                    </p>
                                    <p class="teacher">
                                        戴汨
                                    </p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1499741922_294.jpg-course.list.small"
                                         alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}