@import "constants";

.footer {
  padding-top: 50px;
  font-size: 14px;
  color: #c9c9c9;

  .top-group {
    background: #555e67;
    height: 100px;
    padding-top: 23px;
    box-sizing: border-box;

    .top-inner-group {
      width: $pageWidth;
      margin: 0 auto;
      position: relative;
      //overflow: hidden;


      .logo-box {
        width: 168px;
        height: 54px;
        float: left;
        background: url("http://xfz.cn/static/build/images/foot-logo.png");
        background-repeat: no-repeat;
        background-size: 100%;
      }

      .detail-group {
        float: left;
        margin-left: 84px;

        .line1 {
          overflow: hidden;

          .links {
            float: left;
            overflow: hidden;

            li {
              padding: 0 10px;
              float: left;
              border-right: 1px solid #c9c9c9;

              &:first-of-type {
                padding-left: 0;
              }

              &:last-of-type {
                border-right: none;
              }

              a {
                color: #c9c9c9;
              }
            }
          }

          .about-us {
            float: left;
            margin-left: 36px;
            color: #c9c9c9;

            .title {
              float: left;
            }

            .social {
              float: left;
              overflow: hidden;
              color: white;

              .text {
                margin-left: 30px;
              }

              a {
                color: white;
              }

              .weixin {
                background: url("https://www.xfz.cn/static/build/images/wx-icon.png");
                background-repeat: no-repeat;
                background-size: 30%;
                float: left;

                .wx-qrcode {
                  width: 204px;
                  height: 204px;
                  background: url("https://www.xfz.cn/static/build/images/xfz-wechat-share.png");
                  background-size: 100%;
                  position: absolute;
                  right: 300px;
                  bottom: 0;
                  display: none;


                }

                &:hover .wx-qrcode {
                  display: block;
                }

              }

              .weibo {
                float: left;
                margin-left: 23px;
                background: url("https://www.xfz.cn/static/build/images/xl-icon.png");
                background-repeat: no-repeat;
                background-size: 18%;
              }
            }
          }
        }

        .line2 {
          margin-top: 18px;
          overflow: hidden;

          .address {
            float: left;
          }

          .contact {
            float: left;
            margin-left: 36px;
          }
        }
      }


    }
  }

  .bottom-group {
    background: #383e44;
    line-height: 60px;
    height: 60px;
    text-align: center;
  }
}