{% extends 'base/front_base.html' %}
{% load news_filters %}

{% block title %}
    小饭桌首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
    <script src="{% static 'js/index.min.js' %}"></script>
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
    <script id="news-item" type="text/html">
    {% verbatim %}
        {{ each newses news index }}
        <li>
            <!-- 缩略图 -->
            <div class="thumbnail-group">
                <a href="#"><img
                        src="{{ news.thumbnail }}"
                        alt=""></a>
            </div>
            <!-- 新闻摘要 -->
            <div class="news-group">
                <!-- 标题 -->
                <p class="title"><a href="#">{{ news.title }}</a>
                </p>
                <!-- 描述信息 -->
                <p class="decs">{{ news.desc }}</p>
                <!-- 更多信息 -->
                <p class="more">
                    <!-- 类型 -->
                    <span class="category">{{ news.category.name }}</span>
                    <!-- 作者 -->
                    <span class="author">{{ news.author.username }}</span>
                    <!-- 时间 -->
                    <span class="pub-time">{{ news.pub_time|timeSince }}</span>
                </p>
            </div>
        </li>

        {{ /each }}
    </script>
    {% endverbatim %}
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <!-- 左侧新闻栏 -->
            <div class="main-content-wrapper">
                <!-- 轮播图 -->
                <div class="banner-group" id="banner-group">

                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1571292192_9.jpg" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1570772085_706.jpg" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1570765909_110.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1571191958_695.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1571105333_385.jpg" alt="">
                        </a></li>
                    </ul>

                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>

                    <div class="page-control-group">
                        <ul class="page-control"></ul>
                    </div>

                </div>
                <!-- 新闻模块组 -->
                <div class="list-outer-group">
                    <!-- 新闻导航条 -->
                    <ul class="list-tab">
                        {% for category in categories %}
                            <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}

                    </ul>
                    <!-- 新闻咨询 -->
                    <ul class="list-inner-group">
                        {% for news in newses %}
                            <li>
                                <!-- 缩略图 -->
                                <div class="thumbnail-group">
                                    <a href="#"><img
                                            src="{{ news.thumbnail }}"
                                            alt=""></a>
                                </div>
                                <!-- 新闻摘要 -->
                                <div class="news-group">
                                    <!-- 标题 -->
                                    <p class="title"><a href="#">{{ news.title }}</a>
                                    </p>
                                    <!-- 描述信息 -->
                                    <p class="decs">{{ news.desc }}</p>
                                    <!-- 更多信息 -->
                                    <p class="more">
                                        <!-- 类型 -->
                                        <span class="category">{{ news.category.name }}</span>
                                        <!-- 作者 -->
                                        <span class="author">{{ news.author.username }}</span>
                                        <!-- 时间 -->
                                        <span class="pub-time">{{ news.pub_time|time_since }}</span>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- 加载更多 -->
                    <div class="load-more-group">
                        <button id="load-more-btn" class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}