{% extends 'base/front_base.html' %}

{% block title %}
    小饭桌首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
    <script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <!-- 左侧新闻栏 -->
            <div class="main-content-wrapper">
                <!-- 轮播图 -->
                <div class="banner-group" id="banner-group">

                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1571292192_9.jpg" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1570772085_706.jpg" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1570765909_110.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1571191958_695.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="https://static-image.xfz.cn/1571105333_385.jpg" alt="">
                        </a></li>
                    </ul>

                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>

                    <div class="page-control-group">
                        <ul class="page-control"></ul>
                    </div>

                </div>
                <!-- 新闻模块组 -->
                <div class="list-outer-group">
                    <!-- 新闻导航条 -->
                    <ul class="list-tab">
                        <li class="active"><a href="#">最新咨询</a></li>
                        <li><a href="#">热点</a></li>
                        <li><a href="#">深度报道</a></li>
                        <li><a href="#">干货分享</a></li>
                        <li><a href="#">投资人说</a></li>
                    </ul>
                    <!-- 新闻咨询 -->
                    <ul class="list-inner-group">
                        <li>
                            <!-- 缩略图 -->
                            <div class="thumbnail-group">
                                <a href="#"><img
                                        src="https://static-image.xfz.cn/1571469532_364.png-website.news.list"
                                        alt=""></a>
                            </div>
                            <!-- 新闻摘要 -->
                            <div class="news-group">
                                <!-- 标题 -->
                                <p class="title"><a href="#">“小程序·云开发”技术峰会召开 腾讯云联合微信为开发者升级工具箱</a>
                                </p>
                                <!-- 描述信息 -->
                                <p class="decs">已经有超过23万注册账户，服务50多万开发者快速开发小程序</p>
                                <!-- 更多信息 -->
                                <p class="more">
                                    <!-- 类型 -->
                                    <span class="category">腾讯云</span>
                                    <!-- 作者 -->
                                    <span class="author">饭桌君</span>
                                    <!-- 时间 -->
                                    <span class="pub-time">19小时前</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <!-- 缩略图 -->
                            <div class="thumbnail-group">
                                <a href="#"><img
                                        src="https://static-image.xfz.cn/1571451339_508.jpg-website.news.list"
                                        alt=""></a>
                            </div>
                            <!-- 新闻摘要 -->
                            <div class="news-group">
                                <!-- 标题 -->
                                <p class="title"><a href="#">早报：滴滴自动驾驶将在上海载客测试；微信外链规范升级；快手计划春晚砸40亿冲击“3亿DAU”目标</a>
                                </p>
                                <!-- 描述信息 -->
                                <p class="decs">VIPKID截至9月底平台付费学生达71.2万人</p>
                                <!-- 更多信息 -->
                                <p class="more">
                                    <!-- 类型 -->
                                    <span class="category">滴滴</span>
                                    <!-- 作者 -->
                                    <span class="author">福禄娃</span>
                                    <!-- 时间 -->
                                    <span class="pub-time">10月19日</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!-- 加载更多 -->
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}