<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授权页面</title>
    <link rel="stylesheet" href="../../dist/css/common/auth.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1466460_qeird80pd2k.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/auth.min.js"></script>
</head>
<body>
<button id="btn">登陆/注册</button>
<div class="mask-wrapper">
    <div class="auth-wrapper">
        <!-- 上方关闭栏 -->
        <div class="close-wrapper">
            <span class="close-btn icon-baseline-close-px iconfont"></span>
        </div>
        <!-- 下方容器 -->
        <div class="auth-inner-wrapper">
            <!-- 轮播注册和登陆 -->
            <div class="scroll-wrapper">
                <div class="signin-group auth-group">

                </div>
                <div class="signup-group auth-group">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>