<!-- 右侧侧边栏 -->
<div class="sidebar-wrapper">
    <!-- 标题栏 -->
    <div class="title-group">
        <span class="title">在线课堂</span>
        <a class="more" href="#">更多</a>
    </div>
    <!-- 广告栏 -->
    <div class="advertise-group">
        <a href="#"><img src="https://static-image.xfz.cn/1554346383_8.png"></a>
    </div>

    <!-- 第三方平台 -->
    <div class="platform-group">
        <!-- 标题栏 -->
        <div class="title-group">
            <span class="title">关注小饭桌</span>
        </div>
        <!-- 关注栏 -->
        <div class="focus-group">
            <!-- 左侧社交平台 -->
            <div class="left-group">
                <ul>
                    <li class="zhihu"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                    <li class="weibo"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                    <li class="toutiao"><a href="#" target="_blank">小饭桌</a></li>
                </ul>
            </div>
            <!-- 右侧公众号 -->
            <div class="right-group">
                <p class="dsc">扫码关注小饭桌微信公众号</p>
            </div>
        </div>


    </div>

    <!-- 热门文章 -->
    <div class="hot-news-group">
        <!-- 标题栏 -->
        <div class="title-group">
            <span class="title">热门推荐</span>
        </div>
        <ul class="hot-list-group">
            <li>
                <div class="left-group">
                    <!-- 标题 -->
                    <p class="title"><a href="#">早报：软银或以一揽子融资控股WeWork；特斯拉上海</a></p>
                    <!-- 更多信息 -->
                    <p class="more">
                        <!-- 类别 -->
                        <span class="category">热点</span>
                        <!-- 时间 -->
                        <span class="pub-time">一小时前</span>
                    </p>
                </div>
                <div class="right-group">
                    <a href="#"><img
                            src="https://static-image.xfz.cn/1571019812_416.jpg-website.news.list"></a>
                </div>
            </li>
            <li>
                <div class="left-group">
                    <!-- 标题 -->
                    <p class="title"><a href="#">泊恩医疗完成千万元天使轮融资，由梅花创投领投</a></p>
                    <!-- 更多信息 -->
                    <p class="more">
                        <!-- 类别 -->
                        <span class="category">融资消息</span>
                        <!-- 时间 -->
                        <span class="pub-time">10月16日</span>
                    </p>
                </div>
                <div class="right-group">
                    <a href="#"><img
                            src="https://static-image.xfz.cn/1571197694_884.png-website.news.list"></a>
                </div>
            </li>
        </ul>
    </div>
</div>